*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    height: 100vh;
    width: 100%;
}
body{
    height: 100%;
    padding: 50px;
}
input{
    width: 60px;
    display: block;
    margin: 10px 0;
}
div{
    width: 160px;
    height: 20px;
    display:block;
    font-size: large;
    font-weight: bold;
}
button{
    width: 25px;
    font-size: large;
    line-height: 20px;
    margin-bottom: 10px;
}