*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    height: 100vh;
    width: 100%;
    font-size: 16px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
    height: 100%;
    background-color: cornflowerblue;
    padding: 150px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
#title{
    color: linen;
    font-size: 2.4rem;
    text-shadow: 2px 2px 3px gray;
}
.container{
    width: 400px;
    height: auto;
    background-color: linen;
    border-radius: 20px;
    box-shadow: 3px 3px 4px gray;
    padding: 20px;
}
input{
    margin-right: 100%;
}
button{
    margin: 10px 0;
}